<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>React Sample App Examples</title>
    <script src="/static/js/libs/react-15.1.0.js"></script>
    <script src="/static/js/libs/react-dom-15.1.0.js"></script>
    <script src="/static/js/libs/browser-5.8.34.min.js"></script>
    <script src="/static/js/libs/jquery-2.2.0.min.js"></script>
    <script src="/static/js/libs/remarkable-1.6.2.min.js"></script>
  </head>
  <body>
    <h1>Featured examples</h1>
    <ul>
        <li><a href="/commentbox">Comment Box</a></li>
        <li><a href="/productfilter">Product Filter</a></li>
        <li></li>
        <li></li>
    </ul>
  </body>
</html>